In [6]:
%pip install pandas
import pandas as pd

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
data = pd.read_csv('../data/realtor-data.csv')

In [8]:
data

,brokered_by,status,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date
0,103378.0,for_sale,105000.0,3.0,2.0,0.12,1962661.0,Adjuntas,Puerto Rico,601.0,920.0,NaN
1,52707.0,for_sale,80000.0,4.0,2.0,0.08,1902874.0,Adjuntas,Puerto Rico,601.0,1527.0,NaN
2,103379.0,for_sale,67000.0,2.0,1.0,0.15,1404990.0,Juana Diaz,Puerto Rico,795.0,748.0,NaN
3,31239.0,for_sale,145000.0,4.0,2.0,0.10,1947675.0,Ponce,Puerto Rico,731.0,1800.0,NaN
4,34632.0,for_sale,65000.0,6.0,2.0,0.05,331151.0,Mayaguez,Puerto Rico,680.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2226377,23009.0,sold,359900.0,4.0,2.0,0.33,353094.0,Richland,Washington,99354.0,3600.0,2022-03-25
2226378,18208.0,sold,350000.0,3.0,2.0,0.10,1062149.0,Richland,Washington,99354.0,1616.0,2022-03-25
2226379,76856.0,sold,440000.0,6.0,3.0,0.50,405677.0,Richland,Washington,99354.0,3200.0,2022-03-24
2226380,53618.0,sold,179900.0,2.0,1.0,0.09,761379.0,Richland,Washington,99354.0,933.0,2022-03-24
2226381,108243.0,sold,580000.0,5.0,3.0,0.31,307704.0,Richland,Washington,99354.0,3615.0,2022-03-23

In [9]:
South_Lake_Tahoe = data[data['city'] == 'South Lake Tahoe']

In [10]:
South_Lake_Tahoe

,brokered_by,status,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date
1251674,27315.0,for_sale,630000.0,3.0,2.0,0.15,1777755.0,South Lake Tahoe,California,96150.0,1274.0,NaN
1251678,79212.0,for_sale,695000.0,3.0,2.0,0.26,494353.0,South Lake Tahoe,California,96150.0,1304.0,NaN
1251680,79212.0,for_sale,2995000.0,3.0,2.0,0.02,1063268.0,South Lake Tahoe,California,96150.0,1940.0,NaN
1251913,81354.0,for_sale,515000.0,2.0,2.0,0.25,208875.0,South Lake Tahoe,California,96150.0,720.0,2020-08-31
1251919,24192.0,for_sale,775000.0,3.0,2.0,0.26,1530438.0,South Lake Tahoe,California,96150.0,1432.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2177843,27315.0,sold,459400.0,3.0,1.0,0.12,227460.0,South Lake Tahoe,California,96150.0,1160.0,2022-03-07
2177844,93046.0,sold,948000.0,6.0,6.0,NaN,380389.0,South Lake Tahoe,California,96150.0,3757.0,2022-03-07
2177849,84002.0,sold,850000.0,4.0,3.0,0.14,1763021.0,South Lake Tahoe,California,96150.0,1956.0,2022-04-22
2177857,31770.0,sold,959000.0,4.0,3.0,0.21,183662.0,South Lake Tahoe,California,96150.0,1824.0,2021-11-23
2177858,16829.0,sold,599000.0,2.0,2.0,0.16,902169.0,South Lake Tahoe,California,96150.0,1040.0,2021-11-23

In [17]:
for column in South_Lake_Tahoe.columns:
    # Get the number of NaN values in the current column
    nan_count = South_Lake_Tahoe[column].isna().sum()
    if nan_count > 0:
        print(f"{column} has {nan_count} NaN values")

bed has 59 NaN values
bath has 56 NaN values
acre_lot has 7 NaN values
street has 1 NaN values
house_size has 52 NaN values
prev_sold_date has 151 NaN values